@model Technical_task.Models.LoginModel

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <form asp-action="Login">
        <div class="mb-3">
            @Html.HiddenFor(x=>x.ReturnUrl)

            <div class="mb-3">
                <input class="form-control" type="text" name="username" placeholder="Username" />
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="Password" />
            </div>
            <br />
            <button class="btn btn-sucess">Sing in</button>
        </div>
    </form>
</div>