<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/test.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
@if (User.IsInRole("backend"))
{
    <div class="info_box activeInfo">
        <div class="info-title"><span>Description</span></div>
        <div class="info-list">
            <div class="info">1. You will have only <span>15 seconds</span> per each question.</div>
            <div class="info">2. You will get 1 point for each correct answer.</div>
            <div class="info">3. ASP.NET MVC routing, action selectors, razor, model, view, controller, etc.</div>
            <div class="info">4. These ASP.NET MVC tests/quizes will help you to check how much you know, or don't know, about ASP.NET MVC</div>
        </div>
        <div class="buttons">
            <p>I agree to start
                <input type="checkbox" id="termsChkbx"/>
            </p> 
            <button type="button" class="restart">Continue</button>
            <button class="quit">Exit</button>
        </div>
    </div>
    <div class="quiz_box">
        <header>
            <div class="timer">
                <div class="time_left_txt">Time Left</div>
                <div class="timer_sec">15</div>
            </div>
            <div class="time_line"></div>
        </header>
        <section>
            <div class="que_text">
            </div>
            <div class="option_list">
            </div>
        </section>
        <footer>
            <div class="total_que">
            </div>
            <button class="next_btn">Next</button>
        </footer>
    </div>
    <div class="result_box">
        <div class="complete_text">Result</div>
        <div class="score_text">
        </div>
        <div class="buttons">
            <button class="restart">Restart</button>
            <button class="quit">Back</button>
        </div>
    </div>
    <script src="~/js/testb1.js" asp-append-version="true"></script>
}

@if (User.IsInRole("frontend"))
{
    <div class="info_box activeInfo">
        <div class="info-title"><span>Description</span></div>
        <div class="info-list">
            <div class="info">1. You will have only <span>15 seconds</span> per each question.</div>
            <div class="info">2. You will get 1 point for each correct answer.</div>
            <div class="info">3. ASP.NET MVC routing, action selectors, razor, model, view, controller, etc.</div>
            <div class="info">4. These ASP.NET MVC tests/quizes will help you to check how much you know, or don't know, about ASP.NET MVC</div>
        </div>
        <div class="buttons">
            <p>I agree to start
                <input type="checkbox" id="termsChkbx " onchange="isChecked(this, 'sub1')" />
            </p>
            <p>
                <input type="submit" name="submit" value="Order now!" id="sub1" disabled="disabled" />
            </p>
            <button type="button" class="restart">Continue</button>
            <button class="quit">Exit</button>
        </div>
    </div>
    <div class="quiz_box">
        <header>
            <div class="timer">
                <div class="time_left_txt">Time Left</div>
                <div class="timer_sec">15</div>
            </div>
            <div class="time_line"></div>
        </header>
        <section>
            <div class="que_text">
            </div>
            <div class="option_list">
            </div>
        </section>
        <footer>
            <div class="total_que">
            </div>
            <button class="next_btn">Next</button>
        </footer>
    </div>
    <div class="result_box">
        <div class="complete_text">Result</div>
        <div class="score_text">
        </div>
        <div class="buttons">
            <button class="restart">Restart</button>
            <button class="quit">Back</button>
        </div>
    </div>
    <script src="~/js/testf1.js" asp-append-version="true"></script>
}
<script src="~/js/script.js" asp-append-version="true"></script> 
</body>
</html>