@model IEnumerable<Technical_task.Models.Test>
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/test.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>

    <div class="info_box activeInfo">
        @foreach(var test in Model){
            <div class="info-title"><span>@Html.DisplayFor(modelItem => test.Title)</span></div>
            <div class="info-title"><span>@Html.DisplayFor(modelItem => test.Description)</span></div>
        
        <div class="info-list">
            <div class="info">1. You will have only <span>15 seconds</span> per each question.</div>
            <div class="info">2. You will get 1 point for each correct answer.</div>
        </div>
        <div class="buttons">
            <p>I agree to start
                <input type="checkbox" id="termsChkbx"/>
            </p> 
            <a id="continue" asp-controller="Home" asp-action="QA" asp-route-id="@test.Id" class="btn btn-primary disabled" role="button">Continue</a>
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary">Exit</a>
        </div>
        }
    </div>
    <script type="text/javascript">
        const checkBox = document.getElementById("termsChkbx");
        checkBox.onclick = () => {
            const continue_btn = document.getElementById("continue");
            if(!checkBox.checked){
                continue_btn.classList.add("disabled")
            }
            else{
                continue_btn.classList.remove("disabled")
            }
        }
    </script>
</body>
</html>

